.landing-page {
    width: 100%;
    max-width: 600px;
    background-color: rgba(228, 228, 228, 1);
    border-radius: 8px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: 0;
    }

    .start-test {
        color: white;
        background-color: rgb(143, 127, 238);
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 20px;
        border-radius: 12px;
        width: 50%;

        &:hover {
            background-color: rgb(169, 155, 248);
            transition: .3s;
        }
    }
}